ul.tabs-ul {
    padding-top: 20px;
    padding-left: 50px;
}

ul.tabs-ul li{
    margin-bottom: 25px;
}

ul.tabs-ul li a.nav-tab {
    font-family: "matteomedium";
    font-size: 16px;
    text-decoration: none;
    color: #98A0AA;
    display: flex;
    align-items: center;
}

ul.tabs-ul li a.nav-tab.active {
    color: #00100F;
}

ul.tabs-ul li a.nav-tab i.vendIcon{
    background-color: #98A0AA;
    margin-right: 20px;
    transform: scale(1.15);
}

ul.tabs-ul li a.nav-tab.active i.vendIcon{
    background-color: var(--main-fill-normal);
}
