div.password-container{
    padding: 10px 12px;
    background: #F4FBFA;
    border: 1px solid #B3F1EC;
    border-top: 0px;
    margin-bottom: 20px;
}

input:focus ~ div.password-container {
    border-color: var(--main-fill-normal);
}

input.has-error ~ div.password-container {
    border-color: var(--border-input-error);
}
div.password-container p {
    font-size: 14px;
    letter-spacing: 0.15px;
}
div.password-container p b{
    font-family: "matteomedium";
    font-weight: 100;
    opacity: 0.8;
}

div.password-container p b.error{
    color: var(--border-input-error);
}
