#sidebar {
    width: 300px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    /* z-index: 999; */
    background: #FCFDFD;
    color: #fff;
    transition: all 0.6s;
}

#sidebar.active {
    margin-left: -300px;
}

#content {
    width: calc(100% - 300px);
    padding: 0px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
    background: #FFFFFF;
    box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.04);
}

#content.active {
    width: 100%;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

#sidebarCollapse {
    display: none;
}

@media (max-width: 768px) {
    #BigsidebarCollapse {
        display: none
    }
    #sidebarCollapse {
        display: block;
    }
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -300px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #sidebarCollapse span {
        display: none;
    }
}

/* SideBar on ordered list */
div#subSideMenu{
    padding: 15px;
    margin: 10px 0;
}

div#subSideMenu div.brand-img {
    height: 40px;
    display:table-cell;
    vertical-align:middle;
}

ul.tabs-ul {
    margin-top: 30px;
    /* padding-left: 10px;  */
}

ul.tabs-ul li{
    height: 40px;
    display:flex;
    align-items: center;
    margin-bottom: 10px;
}

ul.tabs-ul li a.nav-tab {
    font-family: "matteomedium";
    font-size: 15px;
    font-weight: bolder;
    /* letter-spacing: 0.15px; */
    text-decoration: none;
    color: #98A0AA;
    display: flex;
    align-items: center;
}

ul.tabs-ul li a.nav-tab.active {
    color: #00100F;
}

ul.tabs-ul li a.nav-tab i.vendIcon{
    background-color: #98A0AA;
    margin-right: 18px;
    -webkit-mask-size: inherit;
}

ul.tabs-ul li a.nav-tab.active i.vendIcon{
    background-color: var(--main-fill-normal);
}
