.profile-card {
    padding: 20px;
    background: #FEFFFF;
    border: 2px solid #E7FAF8;
    border-radius: 2px;
}

.profile-details {
    text-align: center;
}

.profile-details .profileName {
    font-size: 18px;
    letter-spacing: 0.2px;
    font-family: "matteomedium";
    font-weight: bolder;
    color: #03332A;
}
