.menu {
    /* position: fixed; */
    padding: 15px;
    height: 100vh;
    background: #00D0BE;
    box-shadow: 0px 0px 15px rgba(10, 9, 9, 0.08);
}

.menu ul li {
    margin: 30px 0;
}

.vend--center {
    background: #ffffff;
    margin: 10px 0;
    margin-bottom: 30px;
    height: 40px;
    width: 40px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

a.icon-link {
    background: transparent;
    width: 40px;
    height: 40px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* transition: all 0.8s; */
}

a.icon-link:hover{
    border: 2px solid rgba(255, 255, 255, 0.6);
}

a.icon-link.active {
    background: rgba(255, 255, 255, 0.6);
}
