.thumb {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    overflow: hidden;

    background: #DDFAF8;
    border: 1px solid #B3F1EC;

    box-shadow: 0px 5px 11px rgba(0, 0, 0, 0.07);
    margin: 0 .75rem;
    -webkit-appearance: none !important;
}

.thumb img {
    width: 40px !important;
    height: 40px !important;
    object-fit: cover;
}

.pageTitle {
    font-weight: bold;
    font-family: "matteoMedium";
    font-size: 13px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    color: #03332A;
}
/* 
@media (min-width: 768px) {
    #topNav {
        display: none !important;
    }
} */