:root {
    --main-fill-normal: #00D0BE;
}

html, body {
    height: 100%;
}

body {
    font-family: 'matteolight';
    background: #F8F8F8;
}

.px-40{
    padding-left: 40px;
    padding-right: 40px;
}

#vendil {
    height: 100%;
}

.form-control.primary {
    color: #576F7F;
    font-size: 15px;
    /* letter-spacing: -0.4px; */
    border: 1px solid #E5E5E5;
    border-radius: 0px;
    box-shadow: none;
    outline: none;
}

.form-control.primary:focus{
    border-color: var(--main-fill-normal);
}

.btn.btn-primary {
    font-family: "matteomedium";
    font-size: 14px;
    letter-spacing: 0.8px;
    border-radius: 0px;
    color: #FFFFFF;
    background-color: var(--main-fill-normal);
    border-color: var(--main-fill-normal);
    width: 100%;
    text-transform: uppercase;
    
    padding-top: 10px;
    padding-bottom: 10px;

    outline: none;
    box-shadow: none;
}

/* Intl Telephone Input */
.intl-tel-input {
    width: 100%;
}

.btn.twitter-link {
    border-color: #03A9F4 !important;
    color: #03A9F4 !important;
    background-color: #FFFFFF !important;
}

.btn.twitter-link img{
    margin-right: 10px;
}

.tally{
    width: 70%;
    text-align: center;
    border-bottom: 0.5px solid rgba(51, 204, 102, 0.7);
    line-height: 0.1em;
    margin: 10px 0 20px;
    margin-top: 40px;
    margin-bottom: 40px;
}


.tally span{
    text-transform: uppercase;
    font-weight: bold;
    background: #fff;
    padding: 0 10px;
}

p.already {
    font-size: 14px;
    font-weight: bold;
    color: #00100F;
    letter-spacing: 0.25px;
    margin: 10px 0;
}

p.already a{
    font-family: "matteomedium";
    color: var(--main-fill-normal);
    margin-left: 10px;
    text-decoration: underline;
}
