:root {
    --main-fill-normal: #00D0BE;
}

html, body {
    height: 100%;
}

body {
    font-family: 'matteolight';
    background: #F8F8F8;
}

.px-40 {
    padding-left: 40px;
    padding-right: 40px;
}

#vendil {
    height: 100%;
}

.primary-form .form-group {
    margin-bottom: 25px;
}

.primary-form label{
    font-weight: bolder;
    font-size: 14.5px;
    line-height: 17px;
    letter-spacing: 0.25px;
    color: #356666;
}

.form-control.primary {
    color: #03332A;
    font-family: "matteomedium";
    font-size: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    /* letter-spacing: -0.4px; */
    border: 1px solid #B3F1EC;
    border-radius: 0px;
    box-shadow: none;
    outline: none;
}

.form-control.primary:focus {
    border-color: var(--main-fill-normal);
}

input.form-control.primary::placeholder {
    color: #576F7F;
    font-family: 'matteolight';
}

.btn.btn-primary {
    font-family: "matteomedium";
    font-size: 14px;
    letter-spacing: 0.8px;
    border-radius: 0px;
    color: #FFFFFF;
    background-color: var(--main-fill-normal);
    border-color: var(--main-fill-normal);
    width: 100%;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 10px;
    outline: none;
    box-shadow: none;
}

/* Intl Telephone Input */

.intl-tel-input {
    width: 100%;
}

.btn.twitter-link {
    border-color: #03A9F4 !important;
    color: #03A9F4 !important;
    background-color: #FFFFFF !important;
}

.btn.twitter-link img {
    margin-right: 10px;
}

p.already {
    font-size: 14px;
    font-weight: bold;
    color: #00100F;
    letter-spacing: 0.25px;
    margin: 10px 0;
}

p.already a {
    /* font-family: "matteomedium"; */
    letter-spacing: 0.25px;
    color: var(--main-fill-normal);
    margin-left: 10px;
    text-decoration: underline;
}

/* Simple chunks of dashboard styling */
#content {
    min-height: 100vh;
    padding: 20px 0;
    padding-top: 40px;
    background: #FDFDFE;
    width: calc(100% - 150px);
    margin: auto;
}

.btn{
    outline: none;
    box-shadow: none;
}

/* Btn Styles */
.btn.btn--sec{
    width: 100%;
    background: #F1FAF9;
    border-radius: 2px;
    color: #00100F;
    font-size: 13px;
}
/* 
.iti-arrow {
    display: none !important;
} */

.intl-tel-input.allow-dropdown.separate-dial-code .selected-flag {
    background: #FFFFFF;
    outline: none;
}

.selected-dial-code{
    font-family: "matteomedium";
}